@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{ 
   font-family :'Raleway ',sans-serif;
   
}
.traitdesktop 
{
   width: 13%;
   margin-left: 62%;
   margin-bottom: 3%;
   background-color: #0065FC;
   height: 1px;
} 

header
{  width: 98%;
   height: 400px;
   margin-left: 2%;
   padding-top: 3%;
}

header h5
{
   margin-bottom: 1%;
   font-size: 24px;
}
img.imgreservia
{   
   color: #0065FC;
   width: 8%;
}
.link 
{
   width: 99%;
   height: 20%;
   justify-content: space-between;
}
nav
{  
   width: 98%;
   height: 10%;
   display: flex;
   justify-content: flex-end;
}
.nav2
{
   height: 0em;
   opacity: 0;
}
.enfant1
{
   font-size: 1.3em;
   padding-left: 50%;
   
}
.enfant2 
{
   font-size: 1.3em;
   color: #0065FC;
}
.enfant3
{
   color: #0065FC;
   font-size: 1.3em;
   margin-bottom: 10px;
}
.souligne1
{
   text-decoration: none;
   color:#0065FC;
   opacity: .7;
}
.souligne2
{
   text-decoration: none;
   color: black;
   font-weight: bold;
}
.souligne3
{
   text-decoration: none;
   color:#0065FC;
   
   font-weight: bold;
}
.listefiltre,.ulfiltres
{
   padding-left: 0px;
}

.ulfiltres i
{
   color: #0065FC;
   background-color: #DEEBFF;
   padding-bottom: 5px;
   padding: 6%;
   text-align: center;
}

.Filtres
{
   margin-top: 2.3%;
   color: black;
   font-weight: bold;
   font-size: 1.3em;
   
}
.ulfiltres /* liste des filtres avec icone (child ,heart ...*/
{  
   width: 930px;
   height: 200px;
   list-style: none;
   display: flex;
   justify-content: space-around;
}

.fam1,.fam3
{ 
   width: 190px;
   height: 3em;
   border: 2px #f2f2f2 solid;
   border-radius: 35px/35px;
   font-weight: bold;
   
}
.fam2 
{
   width: 140px;
   height: 3em;
   border: 2px #f2f2f2 solid;
   border-radius: 35px/35px;
   font-weight: bold;
   
}
.fam4 
{
   width: 290px;
   height: 3em;
   border: 2px #f2f2f2 solid;
   border-radius: 35px/35px;
   font-weight: bold;
   word-wrap: break-word;
}



span.ecotexte:hover
{
   color: #0065FC;
}
.fas.fa-money-bill-wave
{
   width: 26px;
   height: 26px;
   border-radius:50%;
   background-position: top;
}

.fas.fa-heart 
{
   width: 26px;
   height: 26px;
   border-radius:50%;
   font-size: 20px;
}

.fas.fa-child 
{
   width: 32px;
   height: 32px;
   border-radius:50%;
   font-size: 20px;
}

.fas.fa-dog 
{
   width: 15px;
   height: 15px;
   border-radius:50%;
   font-size: 20px;
}



p.p1 /* En plein centre ville ou en pleine nature */
{   
   font-size: 12px;
   font-weight: bold;
   margin-left: 5px;
   color: black;
   opacity: 0.5;
}

p.p2 /*texte de l'icone info*/
{
   font-size: 12px;
   font-weight: bold;
   margin-left: 5px;
   color: black;
   opacity: 0.5;
}

i.fas.fa-info /*image de l'icone info ronde  */
{   
   font-size: 8px;
   color:#0065FC;
   background-color :white;
   width: 12px;
   height: 12px;
   border: 1px silver solid;
   border-radius:50%;
   text-align: center;
   margin-top: 12px;
}
div.boxinfo /*comprend icone info et texte*/
{
   display: flex;
   justify-content:start;
}

form
{
   height: 100px;
   display: flex;
   margin-top: 10px;
   margin-bottom: 10px;
}
#ici
{  
   width: 70px;
   height: 70px;
   background-color: #f2f2f2;
   color: black;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px 0px 0px 10px;
}
#recherche
{
    background-color:white;
    color: black;
    width: 25%;
    height: 70px;
    border: 2px  solid #f2f2f2;
}
.arecherche 
{
    opacity: 0;
}
.recherchebleu
{   
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    width: 12%;
    height: 52px;
    padding: 9px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}
.section2
{
   display: flex;
   width: 97%;
   margin-left: 2%;
   margin-top: 2%;
   
}
.section4
{
   width: 97%;
  
}
.section4 h5
{
   padding-left: 2.6%;
   
   font-size: 24px;
}
h5 
{
   font-weight: bold;
   opacity: .6;
}
#marsheber
{  
   width: 65%;
   height: 590px;
   margin-right: 20px;      
   background-color: #f2f2f2;
   
   border-radius: 12px/12px;
}
#marsheber h5
{
   margin-top: 2%;
   margin-left: 3%;
   font-size: 24px;
   height: 19px;
}

.trois
{  
   display: flex;
   justify-content: space-around;
   height: 13em;
}
.trois1
{  
   display: flex;
   justify-content: space-around;
   height: 13em;
   margin-top: 4%;
   
  
}

.etoilebleue
{
   font-size: 7px;
   color: #0065FC;
   padding-left: 10px;
   display: flex;
   align-items: center;
   
    
}
 .popultexte .etoilebleue
{
   font-size: 7px;
   color: #0065FC;
   padding-left: 10px;
   display: flex;
   align-items: center;
   padding-top: 40%;
    
}

.etoilegrise 
{
   font-size: 7px;
   color:silver;
   display: flex;
}


#marspopul
{
  
   width: 35%;
   height: 590px;
   background-color: #f2f2f2;
   border-radius: 12px/12px;
   align-items: center; 
}
#marspopul h5
{
   margin-left: 5%;
   width: 82%;
   color: black;
} 


.bourse
{  
   color: black;
   display: flex;
   align-items: center;
   height: 60px;
}
.bourse h5
{
   font-size: 24px;
}
.bourse i
{
   background-color:#f2f2f2;
   color: black;
   padding-left: 10px;
}
#marsactiv
{ 
   display: flex;
   justify-content: space-between;   
   width: 97%;
   height: 400px;
   border-radius: 12px/20px;
   margin-left: 30px;
}
   /*.titreactiv  margin-bottom: -20px;
   margin-left:300px ;}*/ 
.police
{
   font-size:10px;
   font-weight: bold;
   justify-content: center;
   margin-left: 10px;
   
   
}

.police2
{
   font-size: 10px;
   margin-left: 10px;  
   display: flex;
   padding-bottom: 3%;
}
.afficherplus
{
   font-size: 12px;
   padding-left: 3%;
  
   color: black;
  
}
.popultexte
{
   display: flex;
   flex-direction: column;
   
   padding-top: 10px;
}

/* vvvvvvvvvvvvvvvvvvv-----photos hebergement ------vvvvvvvvvvvvvvvvvvvvvvvvvvv*/

.photoh1,.photoh2,.photoh3,.photoh4,.photoh5,.photoh6
{ 
   color: black;
   background-color: white;
   border-left: 1px white;
   border-right: 1px white;
   border-radius: 10px 10px 10px 10px;
   width: 28%;
   height: 95%;
   box-shadow: 1px 1px 6px silver ;
   text-align: start;
   margin-bottom: 5px;
   
}

.photoh1p,.photoh2p,.photoh3p,.photoh4p,.photoh5p,.photoh6p
{
   width: 98%;
   height:65%;
   border-radius: 10px 10px 0px 0px;
   padding-right: 2px;
   padding-left: 2px;
   padding-top: 2px;
   object-fit: cover;
  
}

/*vvvvvvvvvvvvvvvvvvvvvv--------------fin photos hebergements ------vvvvvvvvvvvvvvvvvvvvv*/
.photoa1
{  
   color: black;
   background-color: white;
   border-radius: 10px/10px;
   width:20%;
   height: 96%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photoa1p
{  width: 98%;
   height:85%;
   border-radius: 10px 10px 0px 0px;
   object-fit: cover;
   margin-left: 1%;
   margin-top: 1%;
   margin-bottom: 20px;
}

 
.photoa2
{  
   color: black;
   background-color: white;
   border-radius: 10px/10px;
   width: 100%;
   height: 60%;
   box-shadow: 1px 1px 6px silver;
   
   
}
.photoa2p
{
   width: 98%;
   height:75%;
   border-radius: 10px 10px 0px 0px;
   object-fit: cover;
   margin-left: 1%;
   margin-top: 1%;
   margin-bottom: 20px;
  
}
    
.photoa3
{ 
   color: black;
   background-color: white;
   border-radius: 10px/10px;
   width: 100%;
   height: 35%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photoa3p
{  
   width: 98%;
   height:58%;
   border-radius:10px 10px 0px 0px ;
   object-fit: cover;
   margin-left: 1%;
   margin-top: 1.5%;
   margin-bottom: 20px;
}


  
.photoa4
{  
   color: black;
   background-color: white;
   border-radius: 10px/10px;
   width:20%;
   height: 96%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photoa4p
{  width: 98%;
   height:85%;
   border-radius: 10px 10px 0px 0px;
   object-fit: cover;
   margin-left: 1%;
   margin-top: 1%;
   margin-bottom: 20px;
}


 
.photoa5
{  color: black;
   background-color: white;
   border-radius: 10px/10px;
   width: 100%;
   height: 45%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photoa5p
{  width: 98%;
   height:70%;
   border-radius: 10px 10px 0px 0px;
   object-fit: cover;
   margin-left: 1%;
   margin-top: 1%;
   margin-bottom: 20px;
  
}

    
.photoa6
{  color: black;
   background-color: white;
   border-radius: 10px/10px;
   width: 100%;
   height: 50%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photoa6p
{  width: 98%;
   height:70%;
   border-radius: 10px 10px 0px 0px;
   object-fit: cover;
   margin-left: 1%;
   margin-top: 1%;
   margin-bottom: 20px;
  
}

.pomfrioul
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 20%;
   height: 96%;
}


.gardechamps
{ 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 20%;
   height: 96%;
} 
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvfin des photos populaires vvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
.photopop1
{  
   display: flex;
   color: black;
   background-color: white;
   border-radius: 10px 10px 10px 10px;
   width: 90%;
   height: 26%;
   margin-bottom: 15px;
   margin-left: 5%;
   box-shadow: 1px 1px 6px silver ;

   
}
.photopop1p
{
   width: 90%;
   height:96%;
   border-radius: 10px 0px 0px 10px;
   padding: 3px;
   object-fit: cover;
   
}


.photopop2
{  
   display: flex;
   color: black;
   background-color: white;
   border-radius: 10px 10px 10px 10px;
   width: 90%;
   height: 26%;
   margin-bottom: 15px;
   margin-left: 5%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photopop2p
{
   width: 90%;
   height:96%;
   border-radius: 10px 0px 0px 10px;
   padding: 3px;
   object-fit: cover;
}
  
.photopop3
{  display: flex;
   color: black;
   background-color: white;
   border-radius: 10px 10px 10px 10px;
   width: 90%;
   height: 26%;
   box-shadow: 1px 1px 6px silver ;
   margin-left: 5%;
 
}
.photopop3p
{
   width: 90%;
   height:96%;
   border-radius: 10px 0px 0px 10px;
   padding: 3px;
   object-fit: cover;
}
.photopop1 a,.photopop2 a,.photopop3 a 
{
   width: 50%;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv fin des photos populaires vvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/            
footer
{  
   background-color: #f2f2f2;
   font-size: 12px;
   height: 13em;
   width: 98%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 5%;
   margin-left: 10px;
  
}
span.apropos
{
   display: flex;
   flex-direction: column;
   margin-right: 20%;
   
  
}
span.noshebergements
{
   display: flex;
   flex-direction: column;
   margin-right: 20%;
   
   
   
}
span.assistance
{
   display: flex;
   flex-direction: column;
   margin-right: 20%;
   
  
}

.fonctionsite
{  
   margin-top: 5px;
   
}
.generalvente
{  
   margin-top: 5px;
   
}
.donnees
{
   margin-top: 5px;
   
}
.contacter
{
   margin-top: 5px;
  
}
.centraide
{
   margin-top: 5px;
  
}
.qualite
{
   margin-top: 5px;
   
}
.soumettre
{
   margin-top: 5px;
  
} 
@media screen and (max-width:375px)

{
body 
{
   font-family: raleway;
  
}
.traitdesktop 
{
   opacity: 0;
}
img.imgreservia 
{
   width: 30%;
}
nav
{
   width: 100%;
   height: 60px;
   justify-content: space-between;
   flex-wrap: wrap;
   display: none;
}
.nav2 
{
   width: 95%;
   height: 100px;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   
   margin-left: 20px;
   opacity: 1;
}
.nav2 img 
{
   height: 30px;
   margin-right: 130px;
   margin-left: 0px;
   margin-top: 10px;
   

}
.nav2ligne1 
{
   height: 50px;
   display: flex;
   justify-content: space-around;
}
.nav2ligne2 
{
   height: 90px;
   padding-top: 20px;
}
.trait12 
{
   display: flex;
   margin-top: 5px;
   background-color:#f2f2f2;
}
.trait1 
{
   width: 50%;
   height: 2px;
   color: #f2f2f2;
}
.trait1:hover 
{
   background-color: #0065FC;
}
.trait2 
{
   width: 50%;
   height: 2px;
   color: #f2f2f2;
}
.trait2:hover 
{
   background-color: #0065FC;
}
.souligne3 
{
   margin-top: 20px;
   font-size: 14px;
   margin-left: 100px;
   padding-right: 15px;
}
.souligne1
{
   margin-right: 150px;
   margin-left: 15px;
   font-size: 14px;
   
}
.souligne2 
{
   font-size: 14px;
}
.recherchebleu 
{
   display: none;
}
.arecherche 
{
   width: 30px;
   height: 30px;
   margin-top: 0px;
   background-color: #0065FC;
   border-radius: 8px 8px 8px 8px;
   opacity: 0.8;
}
#loupe 
{
   color: white;
   padding-left: 10px;
   padding-top: 10px;
   font-size: 12px;
} 
#recherche 
{
   width: 72%;
   font-size: 11px;
   font-style: normal;
   font-weight: bold;
   opacity: .9;
}


header
{
   margin-left: 0px;
   width: 100%;
}

HEADER h5 
{
   font-size: 24px;
   width: 90%;
   padding-left: 20px;
   margin-bottom: 10px;
   margin-top: 20px;
   
}

header .p1 
{  width: 90%;
   font-size: 14px;
   opacity: 0.6;
   margin-bottom: 10px;
   margin-left: 20px;
   
   
}
.section2
{
   flex-direction: column-reverse;
   margin-top: 370px;
   align-content: space-around;
   width: 100%;
   height:1350px;
   margin-left: 0%;
  
   
}
#marsheber
{
   width: 100%;
   height: 1000px;
   margin-top: 10%;
   background-color: white;
}
#marsheber h5
{
   font-size: 24px;
   margin-bottom: 30px;
}

.afficherplus 
{
   width: 50%;
   margin-top: 100px;
   padding-left: 30px;
   font-size: 12px;
}
.photoh1,.photoh2,.photoh3
{
   box-shadow: 1px 1px 6px silver ;
   width: 90%;
   height: 145px;
   margin-top: 10px;
   margin-left: 12px;
}
.photoh4,.photoh5,.photoh6 
{
   box-shadow: 1px 1px 6px silver ;
   width: 90%;
   height: 145px;
   margin-bottom: 15px;
   margin-left: 12px;
}
.photoh1p,.photoh2p,.photoh3p,.photoh4p,.photoh5p,.photoh6p,.photopop1p,.photopop2p,.photopop3p,.photoa1p,.photoa2p,.photoa3p,.photoa4p,.photoa5p,.photoa6p

{
   object-fit: cover;
}



.photoh1p,.photoh2p,.photoh3p,.photoh4p,.photoh5p,.photoh6p
{
   width: 98%;
   height: 60%;
   margin-left: .5%;
   margin-top: .5%;
}


.troistrois1
{ 
   width: 100%;
   height: 870px;
   margin-top: 100px;
   margin-left: 5px;
   
   
   
}
.trois 
{
   flex-direction: column;
   height: 300px;
   
}
.trois1 
{
   flex-direction: column;
   padding-top: 20px;
   height: 300px;
   margin-top: 170px;
   
   
}

#marspopul
{
   width: 100%;
   height: 500px;
   margin-top: 200px;
   border-radius: 0;
   
     
}
div.bourse 
{
   width: 100%;
   height: 45px;
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   margin-top: 10px;
   
   
}
.bourse h5
{
   width: 100%;
   font-size: 24px;
   
}
.fas.fa-chart-line
{
    
    width: 40px;
    
}
.photopop1
{
   width: 90%;
   box-shadow: 1px 1px 6px silver ;
   
  
}
.photopop1p 
{
   width: 90%;
   margin-bottom: 2%;
}
.photopop2
{
   width: 90%;
   box-shadow: 1px 1px 6px silver ;

   
}
.photopop2p 
{
   width: 90%;
   
}
.photopop3
{
   width: 90%;
   box-shadow: 1px 1px 6px silver ;
   
}
.photopop3p 
{
   width: 90%;
 
}

form 
{
   width: 90%;
   margin-left: 20px;
}
#ici
{
   font-size: 12px;
   border-radius: 12px 0px 0px 12px;
}
#listefiltre 
{
   height: 270px;
   
}
.ulfiltres 
{
   width:97%;
   height: 63%;
   margin-left: 10px;
   flex-wrap: wrap;
   
}
.Filtres
{
  
   margin-left: 15px;
   font-weight: bold;
   margin-right:85%;
   flex-wrap: wrap;
   font-size: 14px;
}

.fas.fa-heart /*icone rond filtres-------------------------------------------------*/
{
   width: 12px;
   height: 40%;
   border-radius:50%;
}

.fas.fa-child 
{
   width: 21px;
   height: 21px;
   border-radius:50%;
}

.fas.fa-money-bill-wave 
{
   width: 7px;
   height: 7px;
   border-radius:50%;
   
   

}
.fas.fa-money-bill-wave::before
{ 
   font-size: 13px;
   margin: auto;
}
.fas.fa-dog 
{
   width: 4px;
   height: 4px;
   border-radius:50%;
}
.fas.fa-dog::before 
{
   padding-right: 2%;
   
}
.fam1
{
   width: 60%;
   height: 20%;
}
.fam2
{
   width: 30%;
   height: 20%;
}
.fam3
{
   width: 50%;
   height: 20%;
   margin-right: 45%;
}
.fam4 
{
   width: 70%;
   height: 20%;
   margin-right: 90px;
}
.fam1:hover,.fam2:hover,.fam3:hover,.fam4:hover
{
   color: #0065FC;
}



div.boxinfo 
{
   width:95%;

   margin-left: 20px;
}
.section4 
{
   flex-direction: column;
   width: 100%;
   height: 1030px;
   margin-top: 70px;
}

#marsactiv                                        
{
   width: 100%;
   height:770px; 
   flex-direction: column;
   justify-content: flex-start;
   padding-left: 20px;
   padding-top: 10px;
   margin-left: 0px;
}
.section4 h5
{
   font-size: 24px;
   margin-top: 30px;
   margin-left: 17px;
}
.photoa1,.photoa4
{
   width: 90%;
   height: 145px;
   margin-bottom: 15px;
   margin-left: 3.5px;
}
.photoa2,.photoa3 
{
   width: 90%;
   height: 145Px;
   margin-bottom: 5px;
   margin-left: 3.5px;
   
}
.photoa5,.photoa6
{
   width: 90%;
   height: 145Px;
   
   margin-left: 3.5px;
}
.photoa1p,.photoa2p,.photoa3p,.photoa4p,.photoa5p,.photoa6p
{
   width: 98.3%;
   height: 65%;
   margin-right: 1px;
}
.photoa3
{
   margin-top: 10px;
}
.photoa6
{
   margin-top: 15px;
}
.photoa4
{
   margin-top: 10px;
}


.pomfrioul 
{
   width: 100%;
   height: 300px;
   margin-bottom: 10px;
   
}
.gardechamps 
{
   width: 100%;
   height: 210px;
   margin-bottom: 10px;
}
footer 
{
   width: 100%;
   height: 310px;
   display: block;
   margin-top: 20px;
}
.apropos 
{
   font-size: 12px;
   margin-left: 30px;
   margin-top:10px;
   width: 70%;
}
.apropos strong  
{
   
   margin-top: 25px;
}
.noshebergements 
{
   font-size: 12px;
   margin-left: 30px;
   margin-top: 20px;
}
.assistance 
{
   font-size: 12px;
   margin-left: 30px;
   margin-top: 20px;
}
}